h1 {
    text-align: center;
    color: darkslateblue;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black, 0 0 4px darkblue;
    font: bold 50px 'cursive', serif;
}



.teme > a {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    color: darkgray;
    height: 300px;
    width: 400px;
    margin: 10px;
    font: bold 30px 'Courier New';
    text-decoration: none;

}
.teme > a:hover {
    background-color: rgb(226, 226, 226);
    color: black;
    text-decoration: none;
}