body {
    background-color: paleturquoise
}

.title>h1 {
    color: rgb(94, 94, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.grid-header {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.itemCalendar {
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.itemHead {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.curentDay {
    position: relative;
    line-height: 97px;
    left: 45px;
    border: 5px solid rgb(47, 31, 184);
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
    
}

.launchDate {
    position: absolute;
    bottom: 50px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: blue;
}